<!DOCTYPE html>
<html>
<title>ESTT - Crafting Guide</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/ESTT_Logo1.png"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<body class="w3-black" style="font-family: Montserrat, sans-serif;">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="width:120px; background: #222">
  <!-- Avatar image in top left corner -->
  <img src="/images/ESTT_Logo1.png" style="width:100%">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <div class="w3-dropdown-hover w3-hover-black">
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>
        ABOUT
        <i class="fa fa-caret-down"></i>
      </p>
    </a>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/about" class="w3-bar-item w3-button w3-hover-black">About ESTT</a>
      <a href="/playerguidenav" class="w3-bar-item w3-button w3-hover-black">Player Guide Docs</a>
    </div>
  </div>
  <a href="/database" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-table w3-xxlarge"></i>
    <p>DATABASE</p>
  </a> 
  <a href="/resources" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-file-text w3-xxlarge"></i>
    <p>RESOURCES</p>
  </a> 
  <a href="/news" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-bell w3-xxlarge"></i>
    <p>NEWS</p>
  </a>
  <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-bottom w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/" class="w3-bar-item w3-button" style="width:33.3% !important">HOME</a>
    <a href="/about" class="w3-bar-item w3-button" style="width:33.3% !important">ABOUT</a>
    <a href="/database" class="w3-bar-item w3-button" style="width:33.3% !important">DATABASE</a>
    <a href="/resources" class="w3-bar-item w3-button" style="width:33.3% !important">RESOURCES</a>
    <a href="/news" class="w3-bar-item w3-button" style="width:33.3% !important">NEWS</a>
    <a href="/contact" class="w3-bar-item w3-button" style="width:33.3% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large w3-black" id="main">
  <!-- Header/Home -->
  <a href="/playerguidenav" class="link"><i class="fas fa-caret-left"></i> Back to Docs</a>
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <img src="/images/ESTT_Logo1.png" alt="ESTT Logo" class="w3-image">
    <h1>Crafting Guide</h1>
  </header>

  <div class="text-content w3-display-container">
    <h3>Smithing</h3>
    <hr>
    <p>
      Smithing consists of Smelting, Tanning, and Forging. 
      <ul>
        <li>
          Smelting is the use of a smelter to create metal ingots from ores, those metal 
          ingot can be used for forging armor and weapons
        </li>
        <li>
          Tanning is the use of a tanning rack to turn 
          animal skins into leather/leather strips that 
          can be used for weapons and armor forging.
        </li>
        <li>
          Forging is the use of a forge/anvil to creat weapons and armor from
          required materials.
        </li>
      </ul> 
      All recipes using each smithing device can be found under the 
      Recipe Types table under the database page.
    </p>
</div>

<div class="text-content w3-display-container">
    <h3>Enchanting</h3>
    <hr>
    <p>
      Enchanting will allow you to add powerful buffs to your weapons and armor 
      through the power of magic. All you require is a soul gem of any type and a 
      possible enchantment to go on the equipment you are choosing to enchant. 
      Soul gems also can recharge your enchanted items(consuming the gem in the process) a 
      certain amount based on their teir.
    </p>
</div>

<div class="text-content w3-display-container">
    <h3>Cooking</h3>
    <hr>
    <p>
      Cooking will allow you to create various foods using cooking spits. 
      All you need are the required food items to create a more useful and better tasting product!		
    </p>
</div>

<div class="text-content w3-display-container">
    <h3>Alchemy</h3>
    <hr>
    <p>
      Alchemy is the ability to create useful potions or terrifying poisons that 
      can be used in any situation to turn the tides. To make a potion/poison, 
      you have to have two ingredients sharing a same effect and mix them at an 
      alchemy table. People can eat ingredients to find out 1-4(depending if 
      they have the alchemy perk Experimenter) effects it has.					
    </p>
</div>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="https://www.facebook.com/Elder-Scrolls-Tabletop-101978168756987"><i class="fa fa-facebook w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/5alty64/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://discord.gg/Dkk2XtcT"><i class="fa fa-discord w3-hover-opacity"></i></a>
    <a href="mailto:elitemaster210@gmail.com"><i class="fa fa-envelope-open w3-hover-opacity"></i></a>
    <p class="w3-medium">&copy; 2021 ESTT</p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
</body>
</html>
