<!DOCTYPE html>
<html>
<title>ESTT - Basic Player Guide</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/ESTT_Logo1.png"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<body class="w3-black" style="font-family: Montserrat, sans-serif;">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="width:120px; background: #222">
  <!-- Avatar image in top left corner -->
  <img src="/images/ESTT_Logo1.png" style="width:100%">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <div class="w3-dropdown-hover w3-hover-black">
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>
        ABOUT
        <i class="fa fa-caret-down"></i>
      </p>
    </a>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/about" class="w3-bar-item w3-button w3-hover-black">About ESTT</a>
      <a href="/playerguidenav" class="w3-bar-item w3-button w3-hover-black">Player Guide Docs</a>
    </div>
  </div>
  <a href="/database" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-table w3-xxlarge"></i>
    <p>DATABASE</p>
  </a> 
  <a href="/resources" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-file-text w3-xxlarge"></i>
    <p>RESOURCES</p>
  </a> 
  <a href="/news" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-bell w3-xxlarge"></i>
    <p>NEWS</p>
  </a>
  <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-bottom w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/" class="w3-bar-item w3-button" style="width:33.3% !important">HOME</a>
    <a href="/about" class="w3-bar-item w3-button" style="width:33.3% !important">ABOUT</a>
    <a href="/database" class="w3-bar-item w3-button" style="width:33.3% !important">DATABASE</a>
    <a href="/resources" class="w3-bar-item w3-button" style="width:33.3% !important">RESOURCES</a>
    <a href="/news" class="w3-bar-item w3-button" style="width:33.3% !important">NEWS</a>
    <a href="/contact" class="w3-bar-item w3-button" style="width:33.3% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large w3-black" id="main">
  <!-- Header/Home -->
  <a href="/playerguidenav" class="link"><i class="fas fa-caret-left"></i> Back to Docs</a>
  <header class="w3-container w3-padding-32 w3-center" id="home">
    <img src="/images/ESTT_Logo1.png" alt="ESTT Logo" class="w3-image">
    <h1>Basic Player Guide</h1>
  </header>

<div class="text-content w3-display-container">
    <h3>Making a character 101</h3>
    <hr>
    <ol>
        <li>Select a race from the Races Tab and fill that out on your sheet</li>
        <li>
            Fill in the information from the starting stats, abilities/powers, and starting 
            spells from the race of your choice and fill them out on your sheet.
        </li>
        <li>
            Change your character’s attributes(Health, Magicka, 
            Stamina, Defense, Magic Resist) accordingly if the 
            race has any starting changes to those attributes.
        </li>
        <li>
            You start yourself out with 75(dm can decide) experience points to set up your DnD roll 
            stats(strength,dexterity,etc). Follow the exp guide rules for this.
        </li>
        <li>You also start out with 250(dm can decide) gold to use throughout the start of your journey.</li>
        <li>
            For your equipment, you can start out with any novice grade(first option at the top of each 
            the weapon/armor lists ex. Iron Mace; Iron Greatsword; Long Bow). 
            If there is a starting armor of that same type that has the same defense, you can choose that 
            as well to start out with(ex. Imperial armor is the same as Iron armor so you can choose either one). 
            If you want a shield the same rules apply(hide shield/dented iron shield/guard shield are your first 
            options). If wearing clothes instead of any armor suits you better, do that :)
        </li>
        <li>Be sure to catalog your equipment under each list on your sheet</li>
        <li>Now all you need is a name for you character and then you're all set!</li>
    </ol>									 			
</div>

<div class="text-content w3-display-container">
    <h3>EXP/Leveling Guide</h3>
    <hr>
    <p>
        There will be three things you will get at the end of every session(dms decision). 
        The first thing you can get is for the new skyrim based system(skyrim levels). Here are the rules for those:
    </p>
    <ol>
        <li>
            For every skyrim level you get you change your three main attributes(Health, Magicka, and Stamina) 
            by adding 10 to the max value for that attribute(ex. Add 10 to max health to make the max health 110). 
        </li>
        <li>
            You get 2 skill points per skyrim level to use to level up your skills(Illusion, Smithing, 
            Light Armor, etc.). You use the level of your skills to unlock perks, which are additional 
            bonuses to enhance gameplay for a certain perk. You get 1 perk point per skyrim level.
        </li>
        <li>
            To unlock a certain perk, refer to the Perks tab to see if you meet the certain 
            requirements for a perk and if you do meet them as well as have any perk points 
            you can unlock the perk and catalog it to your list of perks.
        </li>
    </ol>
    <p>
        The second thing you can get at the end of a session will be exp points(for DnD rolls stats). 
        Here are the rules for those:
    </p>
    <ol>
        <li>To add 1 to any new roll stat the cost will be 5.</li>
        <li>
            To upgrade any roll stat that is not new the cost will be 5x the 
            current stat(ex. to upgrade a strength 2 to strength 3 it would cost 10 exp).
        </li>
        <li>There is no cap to how high an individual roll stat can be.</li>
    </ol>
    <p>The third thing you can get is gold which is obviously just currency.</p>
</div>

<div class="text-content w3-display-container">
    <h3>Movement</h3>
    <hr>
    <p>
        Every turn you can move up to 25 ft (5 sqaures) for free! However if you need to move more than that it will 
        cost you stamina to sprint there! Stamina Cost is reliant on the total weight of your armor/shield. 
        (See tables below) 
    </p>
    <table>
        <caption>Sprinting with weighted armor stamina cost table</caption>
        <tr>
            <th>Weight</th>
            <th>30ft</th>
            <th>35ft</th>
            <th>40ft</th>
            <th>45ft</th>
            <th>50ft+</th>
        </tr>
        <tr>
            <td>< 10</td>
            <td>34</td>
            <td>38</td>
            <td>42</td>
            <td>46</td>
            <td>50</td>
        </tr>
        <tr>
            <td>10-20</td>
            <td>38</td>
            <td>42</td>
            <td>46</td>
            <td>50</td>
            <td>54</td>
        </tr>
        <tr>
            <td>20-30</td>
            <td>48</td>
            <td>52</td>
            <td>56</td>
            <td>60</td>
            <td>64</td>
        </tr>
        <tr>
            <td>30-40</td>
            <td>58</td>
            <td>62</td>
            <td>66</td>
            <td>70</td>
            <td>74</td>
        </tr>
        <tr>
            <td>40-50</td>
            <td>68</td>
            <td>72</td>
            <td>76</td>
            <td>80</td>
            <td>84</td>
        </tr>
        <tr>
            <td>50-60</td>
            <td>78</td>
            <td>82</td>
            <td>86</td>
            <td>90</td>
            <td>94</td>
        </tr>
        <tr>
            <td>60-70</td>
            <td>88</td>
            <td>92</td>
            <td>96</td>
            <td>100</td>
            <td>104</td>
        </tr>
    </table>
    <br>
    <table>
        <caption>Sprinting without weighted armor stamina cost table</caption>
        <tr>
            <th></th>
            <th>30ft</th>
            <th>35ft</th>
            <th>40ft</th>
            <th>45ft</th>
            <th>50ft+</th>
        </tr>
        <tr>
            <td></td>
            <td>24</td>
            <td>28</td>
            <td>32</td>
            <td>36</td>
            <td>40</td>
        </tr>
    </table>
</div>

<div class="text-content w3-display-container">
    <h3>Roll Checks</h3>
    <hr>
    <p>
        In this game a major mechanic for both roleplay and combat is rolling for 
        the chance to succeed at a certain action to progress a situation or solve a problem.
    </p>
    <p>
        For combat related rolls; all you need are a sufficient number(based of level of target) of 
        successes(d6 dice that results in a number greater than 3) to hit with the move of choice. 
        If you get 5 or more successes(based on level of target as well) you get a critical hit 
        which will do double the base damage. If you get a 6, that counts as 2 successes and if 
        you get two 1’s, that gets rid of a success. Here is a table showing the needed # of successes
        in order to hit/crit a certain leveled enemy:						
    </p>
    <table>
        <tr>
            <th>Level of Target</th>
            <th># of Successes</th>
        </tr>
        <tr>
            <td>1-20</td>
            <td>2 (5 to crit)</td>
        </tr>
        <tr>
            <td>21-40</td>
            <td>3 (5 to crit)</td>
        </tr>
        <tr>
            <td>41-50</td>
            <td>4 (7 to crit)</td>
        </tr>
        <tr>
            <td>51+</td>
            <td>5 (9 to crit)</td>
        </tr>
    </table>
    <p>Here are some of the basic combat related rolls:</p>
    <ul>
        <li>Initiative(not an accuracy check/does not need successes): (Initiative)d6</li>
        <li>Melee Attack(Power Attack) Accuracy Roll: (Strength + Fight)d6</li>
        <li>Ranged Attack Accuracy Roll: (Dexterity + Fight)d6</li>
        <li>Staff Attack Accuracy Roll: (Intelligence + Channel)d6</li>
        <li>Spell(Destruction,Restoration,Conjuration) Use Accuracy Roll: (Intelligence+Channel)d6</li>
        <li>Spell(Illusion,Alteration) Use Accuracy Roll: (Wisdom+Channel)d6</li>
        <li>Shout/Power Accuracy Roll: (Constitution + Fight + Channel)d6</li>
        <li>Shield Block/Clash Roll: (Constitution + Clash)d6</li>
        <li>Shield Bash Roll:(Constitution + Fight)d6</li>
    </ul>
    <p>
        Any perk-related percentage chance roll will simply be one d100 and the roll will 
        be based on the percentage chance(30% = anything between 1 and 30 as a 
        result of a d100 roll will succeed).
    </p>
    <p>
        Any of these roll checks can be changed/decided by the dm as 
        well as any roleplay related rolls can be decided by the dm.				
    </p>
</div>

<div class="text-content w3-display-container">
    <h3>Attribute Mechanics to keep in mind</h3>
    <hr>
    <p>
        For Health, every time you take any form of damage(magical,physical) you add that 
        number to your total damage table, that will affect your current health. If your 
        current health drops to 0, your character dies. Your health does not regenerate 
        during a battle unless you have something that allows health regen or causes health regen.		
    </p>
    <p>
        For Mana/Magicka, every time you successfully cast a spell it will cost you mana
        (that cost will depend on the spell, refer to the Spells tab). 
        If your current mana drops to 0 or below the cost of any spells, you will not be 
        able to cast any more spells until you regen enough mana for that spell.  Your magicka 
        does not regenerate during a battle unless you have something that allows magicka regen or 
        causes magicka regen.
    </p>
    <p>
        For Stamina, every time you do something that uses stamina
        (running in combat, power attacks, etc.) that will cost you a certain amount of stamina:				
    </p>
    <ul>
        <li>
            Power Attacks: Attacks you can only do with melee weapons and 
            if they successfully hit they will deal 50% more damage. These attacks cost 
            the weight of your equipped weapon.				
        </li>
        <li>
            Running in Combat: Allows you to travel a distance over 25 ft in one turn. 
            This action cost will depend on the weight of your armor/shield equipped. 
            (See tables in the Movement section)		
        </li>
        <li>
            NO Stamina will regen unless you have an ability/power that will regenerate more stamina.				
        </li>
    </ul>
    <p>
        One other thing to keep in mind, if you exceed your carry cap
        (Items in inventory including equipped armor/sheild unless you have an ability that makes 
        equpped armor weigh 0) you cannot run in combat				
    </p>
</div>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="https://www.facebook.com/Elder-Scrolls-Tabletop-101978168756987"><i class="fa fa-facebook w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/5alty64/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://discord.gg/Dkk2XtcT"><i class="fa fa-discord w3-hover-opacity"></i></a>
    <a href="mailto:elitemaster210@gmail.com"><i class="fa fa-envelope-open w3-hover-opacity"></i></a>
    <p class="w3-medium">&copy; 2021 ESTT</p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
</body>
</html>
